params {
    fhir_dir          = "$baseDir/data/JSON"     
    results_dir       = "$baseDir/results"
    version         = "1.0.0"
}

process {
    errorStrategy = 'terminate'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}